<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adindas.game.lsptmmin"
    tools:ignore="IntentFilterExportedReceiver,AllowBackup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LSPTMMIN">
        <activity
            android:name=".AdminActivity"
            android:exported="false"
            android:label="@string/title_activity_admin" />
        <activity
            android:name=".UserActivity"
            android:exported="false"
            android:label="@string/title_activity_user"
            android:theme="@style/Theme.LSPTMMIN.NoActionBar" />
        <activity android:name=".ProfileLSP" />
        <activity android:name=".AboutUs" />
        <activity android:name=".Visi_Misi" />
        <activity android:name=".SkemaSertifikasi" />
        <activity android:name=".SkemaPress" />
        <activity android:name=".SkemaWelding" />
        <activity android:name=".SkemaToso" />
        <activity android:name=".SkemaAssy" />
        <activity android:name=".SkemaLogistic" />
        <activity android:name=".SkemaMaintenance" />
        <activity android:name=".Asesor" />
        <activity android:name=".FlowSertifikasi" />
        <activity android:name=".HasilSertifikasi" />
        <activity
            android:name=".MenuUtama"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>